* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #3FC1C9;
}


.option-table,
.option-viewer,
.option-energy_plot,
.option-cmap,
.button-hide,
#text {
    display: none;
}

.result-left,
.result-right {
    position: relative;
}

.option-table,
.option-viewer,
.option-energy_plot,
.option-cmap,
.button-hide {
    position: absolute;
    top: 50px;
    z-index: 1;
}

.option-table.active,
.option-table.active2,
.option-viewer.active,
.option-energy_plot.active2,
.option-cmap.active2 {
    display: block;
}

.table {
    overflow-y: scroll;
}

header {
    width: 100%;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.container-top-left {
    grid-column: 1;
    grid-row: 1;
}

.container-top-right {
    grid-column: 2;
    grid-row: 1;
}

.menu-left {
    grid-column: 1;
    grid-row: 2;
}

.menu-right {
    grid-column: 2;
    grid-row: 2;
}

.container-top-left,
.container-top-right,
.menu-left,
.menu-right {
    padding: 10px;
}


.table,
.viewer,
.cmap,
.energy_plot {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.optionleft,
.optionright {
    position: relative;
    top: 20px;
    z-index: 0;
    width: fit-content;
    height: 40px;
    padding: 10px;
    margin: 0px;
    font-size: 18px;
    background-color: #364f6b;
    color: #fff;
    display: inline-block;
    border-radius: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all .3s;
}

.button {
    padding: 5px;
    margin: 3px;
    font-size: 15px;
    background-color: #fff;
    color: #364f6b;
    border-radius: 5%;
}

.optionleft:hover,
.optionright:hover,
.button:hover {
    cursor: pointer;
}

.optionleft.activebutton,
.optionright.activebutton2 {
    background-color: #fff;
    color: #364f6b;
    display: inline-block;
}

.optionleft:hover,
.optionright:hover {
    top: 10px;
}

input[type="text"] {
    background-color: #fff;
}

.table,
.viewer,
.energy_plot,
.cmap {
    height: 500px;
    background-color: #fff;
}

table,
th,
tr,
td,
tbody {
    background-color: #fff;
    /* padding-left: 10px; */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
    width: 1%;
    white-space: nowrap;
}

tbody {
    display: block;
    font-size: 15px;
    color: #364f6b;
}

th {
    font-size: 18px;
    color: #364f6b;
}

.cmap,
.cmap>*,
.cmap>*>* {
    padding: 10px;
    background-color: #fff;
    font-size: 15px;
    color: #364f6b;
}

.cmap div * {
    display: inline-block;
}

.menu-right div {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
}