<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>Ligand docking</title>


    <style>
        .container-fluid {
            text-align: center;
            height: 1000px;
        }

        .viewer {
            height: 600px;
        }
    </style>
    <script type="text/javascript" src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            dmol = $3Dmol;
            let config = {
                backgroundColor: 'white'
            };
            let element = $('#viewer');
            glviewer = $3Dmol.createViewer(element, config);
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='brython.js')}}"></script>

<body onload="brython(1)">
    <script type="text/python" src="{{ url_for('static', filename='docking_bry.py')}}">

    </script>

</head>
<div class="container-fluid p-2 text-white bg-info">
    <header >
        <h1 class="rounded border inline p-2 ">PyRosetta ligand interface protocole</h1>
    </header>

<div class="row"> <!--row for viewer and cmap panel-->
<div class="col-lg-6  text-left">
        
    <div id="viewer" class="col-lg align-center viewer rounded pr-2 bg-white text-body text-center" ></div>
</div>

<div class="col-lg-6">
            <div id="energy_plot" class="col-lg-12 p-3 viewer bg-white rounded text-body text-left" style="display:none;"></div> 
            <div id="map_pic" class="col-lg-12 p-3 viewer bg-white rounded text-body text-left" style="display:none;"></div>
            <div id="cmap" class="col-lg-12 p-3 viewer bg-white rounded text-body text-left">

                <div class="row m-2">
    
        <div class="col-lg-2 m-2 text-center" style="display:inline;">Username:</div><input id="username" class="form-control col-lg-3 text-center" type="text" value="jkrys" >
        <div class="col-lg-3 my-2 text-center" style="display:inline;">Project name:</div><input id="project_name" class="form-control   col-lg-3 text-center" type="text" value="first" >
</div>
                <p class="p-2 m-3" id="11" style="display:block;">1. Drop PDB file with receptor</p>
                <p class="p-2 m-3" id="22" style="display:block;">2. Drop ligand file in one of this formats: SDF, MOL, MOL2</p>
                <p class="p-2 m-3 " id="33" style="display:block;">3. Optionaly you can drop your PARAMS files as well</p>
                <p class="p-2 m-3 " id="44" style="display:block;">4. Set the docking parameters:</p>
                <div class="row m-2">
    
        <div class="col-lg-3 p-2 m-2" style="display:inline;">Partners:</div><input id="partners" class="form-control p-2 m-2 col-lg-2 text-center" type="text" value="AB_X" >
        <div class="col-lg-3 m-2" style="display:inline;">Jobs number:</div><input id="jobs" class="form-control p-2 m-2 col-lg-2 text-center" type="text" value="1" >
        <div class="row m-2">
        </div>
        <div class="col-lg-3 m-2 p-2" style="display:inline;">First cycle:</div><input id="first" class="form-control p-2 m-2 col-lg-2 text-center" type="text" value="4" >
        <div class="col-lg-3 m-2 " style="display:inline;">Second cycle:</div><input id="second" class="form-control p-2 m-2 col-lg-2 text-center" type="text" value="45" >
       
</div>
                <p class="p-3 m-3 " id="55" style="display:block;">5. Click <b>Submit</b> to run docking!</p>

                </div>
                <div id="table" class="col-lg-12 p-3 viewer" style="display:none; overflow-y: scroll;">
                    <table id="mytable" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Total_score</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--row for viewer and cmap panel-->
        <div class="row">
            <!--row for viewer api-->
            <div class="col-lg-6">
                <div class="row px-3">

                    <input class="btn m-1 p-1 bg-white" type="button" value="Stick"
                        onclick="glviewer.setStyle({},{stick:{}}); glviewer.render();"></input>
                    <input class="btn p-1 m-1 bg-white" type="button" value="Line"
                        onclick="glviewer.setStyle({},{line:{}}); glviewer.render();"></input>
                    <input class="btn p-1  m-1 bg-white" type="button" value="Cross"
                        onclick="glviewer.setStyle({},{cross:{linewidth:2}}); glviewer.render();"></input>
                    <input class="btn p-1  m-1 bg-white" type="button" value="Sphere"
                        onclick="glviewer.setStyle({},{sphere:{}}); glviewer.render();"></input>
                    <input class="btn p-1  m-1 bg-white" type="button" value="Cartoon"
                        onclick="glviewer.setStyle({hetflag:false},{cartoon: {}}); glviewer.render();"></input>
                    <input class="btn  m-1 p-1 bg-white" type="button" value="Spectrum"
                        onclick="glviewer.setStyle({hetflag:false},{cartoon: {color:'spectrum'}}); glviewer.render();"></input>

                    <input class="btn m-1 p-1 bg-white" type="button" value="Zoom ligand"
                        onclick="glviewer.zoomTo({'chain':'X'},1000);"></input>
                    <input class="btn m-1 p-1 bg-white" type="button" value="Recenter"
                        onclick="glviewer.zoomTo();"></input>
                    <input class="btn p-1  m-1 bg-white" type="button" value="Clear"
                        onclick="glviewer.clear();"></input>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <button id="download" class="btn col-lg-2 p-1 m-1 bg-white">Submit</button>
                    <button id="show_native" class="btn col-lg-2 p-1 m-1 bg-white" type="button" style="display:none;">Show native</button>
                    <button id="list_files" class="btn col-lg-2 p-1 m-1 bg-white">Decoys</button>
                    <button id="cmap_button" class="btn col-lg-2 p-1 m-1 bg-white">Contact map</button>
                    <div class="btn col-lg-2 p-1 m-1 bg-white" style="display:none;">Contact cutoff:</div><input id="cutoff"
                        class="col-lg-1 p-1 m-1 bg-white" type="text" value="5" style="display:none;"></input>
                </div>
            </div>

        </div>
        <!--row for viewer api-->



        <button id="show_native" class="button" type="button" style=" display:none;" value="Load protein">Show
            native</button>
        <div id="text" style="display:None"></div>
    </div>
    <!--container-->
</body>

</html>