<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>Loop modelling</title>

    <style>
        .container-fluid {
            text-align: center;
            height: 1000px;
        }

        .viewer {
            height: 600px;
        }
    </style>

    <script type="text/javascript" src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            dmol = $3Dmol;
            let config = {
                backgroundColor: 'white'
            };
            let element = $('#viewer');
            glviewer = $3Dmol.createViewer(element, config);
        });
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='brython.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='brython_stdlib.js')}}"></script>

</head>

<body onload="brython(1)">
    <script type="text/python" src="{{ url_for('static', filename='looping_bry.py')}}"></script>

    <div class="container-fluid p-2 text-white bg-info">
        <header>
            <h1 class="rounded border inline p-2 ">PyRosetta loop modelling protocols</h1>
        </header>

        <div class="row"> <!--row for viewer and cmap panel-->
            <div class="col-lg-6  text-left">
                <div id="viewer" class="col-lg align-center viewer rounded pr-2 bg-white text-body text-center" ></div>
            </div>

            <div class="col-lg-6">
                <div id="energy_plot" class="col-lg-12 p-3 viewer bg-white rounded text-body text-left" style="display:none;"></div>
                <div id="map_pic" class="col-lg-12 p-3 viewer bg-white rounded text-body text-left" style="display:none;"></div>
                <div id="table" class="col-lg-12 p-3 viewer bg-white rounded text-body text-left" style="display:none; overflow-y: scroll;">
                    <table id="mytable" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Total_score</th>
                                <th scope="col">Link to pdb file</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div id="cmap" class="col-lg-12 p-3 viewer bg-white rounded text-body text-left" style="display: none;"></div>
                <div id="inputParams" class="col-lg-12 p-3 viewer bg-white rounded text-body text-left">
                    <div class="row m-2">
                        <div class="col-lg-2 m-2 text-center" style="display:inline;">Username:</div>
                        <input id="username" class="form-control col-lg-3 text-center" type="text" value="tester" >
                        <div>&nbsp;</div>
                        <div class="col-lg-3 my-2 text-center" style="display:inline;">Project name:</div>
                        <input id="project_name" class="form-control col-lg-3 text-center" type="text" value="test" >
                    </div>

                    <p class="p-2 m-3" style="display:block;">0. Choose algorithm of simulation:
                        <button id="btn_kic" class="btn col-lg-2 p-1 m-1 bg-warning">KIC</button>
                        <button id="btn_ccd" class="btn col-lg-2 p-1 m-1 bg-white">CCD</button>
                        <input id="selected_mode" type="hidden" value="kic" >

                    <p class="p-2 m-3" id="label_upload_pdb_file" style="display:block;">1. Drop PDB file with one chain</p>

                    <p class="p-2 m-3" style="display:block;">2. Set the loop modelling parameters:</p>

                    <!--div class="row m-2"-->


                    <div class="col-lg-3 p-2 m-2" style="display:inline;">loop_begin:</div><input style="display:inline" id="loop_begin" class="form-control p-2 m-2 col-lg-2 text-center" type="number" value="100" >
                    <div class="col-lg-3 m-2" style="display:inline;">loop_end:</div><input style="display:inline" id="loop_end" class="form-control p-2 m-2 col-lg-2 text-center" type="number" value="106" >
                    <div class="row m-2">
                    </div>
                    <div class="col-lg-3 m-2 p-2" style="display:inline; margin-right:58px !important;">jobs:</div><input style="display:inline" id="jobs_number" class="form-control p-2 m-2 col-lg-2 text-center" type="number" value="1" >
                    <div class="col-lg-3 m-2 " style="display:inline; margin-right:12px !important;">loop_cut:</div><input style="display:inline" id="loop_cut" class="form-control p-2 m-2 col-lg-2 text-center" type="number" value="103" >

                    <div id="extendedParams" style="display: none">
                        <table>
                            <tr>
                                <td></td>
                                <td style="text-align: center;">outer_cycles</td>
                                <td style="text-align: center;">inner_cycles</td>
                                <td style="text-align: center;">init_temp</td>
                                <td style="text-align: center;">final_temp</td>
                            </tr>
                            <tr>
                                <td>low</td>
                                <td><input id="outer_cycles_low" class="form-control p-2 m-2 text-center" type="number" value="2"></td>
                                <td><input id="inner_cycles_low" class="form-control p-2 m-2 text-center" type="number" value="5"></td>
                                <td><input id="init_temp_low" class="form-control p-2 m-2 text-center" type="number" value="2.0"></td>
                                <td><input id="final_temp_low" class="form-control p-2 m-2 text-center" type="number" value="0.8"></td>
                            </tr>
                            <tr>
                                <td>high</td>
                                <td><input id="outer_cycles_high" class="form-control p-2 m-2 text-center" type="number" value="5"></td>
                                <td><input id="inner_cycles_high" class="form-control p-2 m-2 text-center" type="number" value="10"></td>
                                <td><input id="init_temp_high" class="form-control p-2 m-2 text-center" type="number" value="2.2"></td>
                                <td><input id="final_temp_high" class="form-control p-2 m-2 text-center" type="number" value="0.6"></td>
                            </tr>
                        </table>
                    </div>

                    <p class="p-3 m-3 " style="display:block;">3. Click <b>Submit</b> to run loop modelling! <span id="label_done"></span></p>

                </div>

            </div>

        </div>

        <!--/div-->

        <!--row for viewer-->
        <div class="row">
            <!--row for viewer api-->
            <div class="col-lg-6">
                <div class="row px-3">

                    <input class="btn m-1 p-1 bg-white" type="button" value="Stick"
                        onclick="glviewer.setStyle({},{stick:{}}); glviewer.render();"></input>
                    <input class="btn p-1 m-1 bg-white" type="button" value="Line"
                        onclick="glviewer.setStyle({},{line:{}}); glviewer.render();"></input>
                    <input class="btn p-1  m-1 bg-white" type="button" value="Cross"
                        onclick="glviewer.setStyle({},{cross:{linewidth:2}}); glviewer.render();"></input>
                    <input class="btn p-1  m-1 bg-white" type="button" value="Sphere"
                        onclick="glviewer.setStyle({},{sphere:{}}); glviewer.render();"></input>
                    <input class="btn p-1  m-1 bg-white" type="button" value="Cartoon"
                        onclick="glviewer.setStyle({hetflag:false},{cartoon: {}}); glviewer.render();"></input>
                    <input class="btn  m-1 p-1 bg-white" type="button" value="Spectrum"
                        onclick="glviewer.setStyle({hetflag:false},{cartoon: {color:'spectrum'}}); glviewer.render();"></input>
                    <!-- toErase input class="btn m-1 p-1 bg-white" type="button" value="Zoom ligand"
                        onclick="glviewer.zoomTo({'chain':'X'},1000);"></input-->
                    <input class="btn m-1 p-1 bg-white" type="button" value="Recenter"
                        onclick="glviewer.zoomTo();"></input>
                    <input class="btn p-1  m-1 bg-white" type="button" value="Clear"
                        onclick="glviewer.clear();"></input>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    &nbsp;&nbsp;&nbsp;&nbsp;<button id="download" class="btn col-lg-2 p-1 m-1 bg-white">Submit</button>
                    <button id="show_native" class="btn col-lg-2 p-1 m-1 bg-white" type="button" style="display:none;">Show native</button>
                    <button id="list_files" class="btn col-lg-2 p-1 m-1 bg-white">Decoys</button>
                    <!-- toErase button id="cmap_button" class="btn col-lg-2 p-1 m-1 bg-white">Contact map</button-->
                    <div class="btn col-lg-2 p-1 m-1 bg-white" style="display:none;">Contact cutoff:</div><input id="cutoff"
                        class="col-lg-1 p-1 m-1 bg-white" type="text" value="5" style="display:none;"></input>
                </div>
            </div>
        </div>
        <!--row for viewer api-->


        <button id="show_native" class="button" type="button" style=" display:none;" value="Load protein">Show native</button>
            <div id="text" style="display:None"></div>
    </div>
    <!--container-->
</body>

</html>
