<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligand docking</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            dmol = $3Dmol;
            let config = {
                backgroundColor: 'white'
            };
            let element = $('#viewer');
            glviewer = $3Dmol.createViewer(element, config);
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='brython.js')}}"></script>
    <script type="text/javascript" src="../static/brython.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
    <script src="../static/script.js"></script>
</head>


<body onload="brython(1)">
    <script type="text/python" src="{{ url_for('static', filename='docking_bry.py')}}"></script>

    <header>
        <h1>P450 ligand interface protocole</h1>
    </header>
    <div class="container">
        <!-- container top left -->

        <div class="container-top-left">
            <div class="result-left">
                <nav class="panel-left">
                    <div id="viewer-left" class="optionleft activebutton" data-target="viewer">
                        Viewer</div>
                    <div id="table-left" class="optionleft" data-target="table">Table
                    </div>
                </nav>
                <div id="viewer" class="tabcontentleft option-viewer viewer active"></div>
                <div id="table" class="tabcontentleft option-table table">
                    <table id="mytable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Total_score</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!-- container bottom left -->

        <div class="menu-left">
            <input class="button" type="button" value="Stick"
                onclick="glviewer.setStyle({},{stick:{}}); glviewer.render();"></input>
            <input class="button" type="button" value="Line"
                onclick="glviewer.setStyle({},{line:{}}); glviewer.render();"></input>
            <input class="button" type="button" value="Cross"
                onclick="glviewer.setStyle({},{cross:{linewidth:2}}); glviewer.render();"></input>
            <input class="button" type="button" value="Sphere"
                onclick="glviewer.setStyle({},{sphere:{}}); glviewer.render();"></input>
            <input class="button" type="button" value="Cartoon"
                onclick="glviewer.setStyle({hetflag:false},{cartoon: {}}); glviewer.render();"></input>
            <input class="button" type="button" value="Spectrum"
                onclick="glviewer.setStyle({hetflag:false},{cartoon: {color:'spectrum'}}); glviewer.render();"></input>

            <input class="button" type="button" value="Zoom ligand"
                onclick="glviewer.zoomTo({'chain':'X'},1000);"></input>
            <input class="button" type="button" value="Recenter" onclick="glviewer.zoomTo();"></input>
            <input class="button" type="button" value="Clear" onclick="glviewer.clear();"></input>
            <button class="button" id="sort">Sort table</button>
        </div>

        <!-- container top right -->

        <div class="container-top-right">
            <div class="result-right">
                <nav class="panel-right">
                    <div class="optionright activebutton2" data-target="cmap">Contact map</div>
                    <div class="optionright" data-target="table2">Table</div>
                    <div class="optionright" data-target="energy_plot">Energy plot
                    </div>
                </nav>
                <div id="cmap" class="tabcontentright active2 cmap option-cmap">

                    <p id="1">1. Drop PDB file with receptor</p>
                    <p id="2">2. Drop ligand file in one of this formats: SDF, MOL, MOL2</p>
                    <p id="3">3. Optionaly you can drop your PARAMS files as well</p>
                    <p id="3">3. Set the docking parameters:</p>

                    <div>

                        <div>Partners:</div><input id="partners" type="text" value="E_X">
                        <div>Jobs number:</div><input id="jobs" type="text" value="1">
                        <div>First cycle:</div><input id="first" type="text" value="4">
                        <div>Second cycle:</div><input id="second" type="text" value="45">

                    </div>
                    <p id="4">5. Click <b>Submit</b> to run docking!</p>
                </div>
                <div id="table2" class="tabcontentright table option-table">
                    <table id="mytable">
                        <thead>
                            <tr>
                                <th scope="col" style="width:50%;">Name</th>
                                <th scope="col" style="width:50px;">Total_score</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="energy_plot" class="tabcontentright energy_plot option-energy_plot"></div>
            </div>
        </div>

        <!--container bottom right-->

        <div class="menu-right">
            <button class="button" id="download">Submit</button>
            <button class="button" id="sort">Sort table</button>
            <!-- <button class="button" id="show_native" type="button">Show native</button> -->
            <button class="button" id="list_files">Decoys</button>
            <button class="button" id="cmap_button">Contact map</button>
            <div>Contact cutoff:</div><input id="cutoff" type="text" value="5"></input>
            <button id="show_native" class="button" type="button" value="Load protein">Show
                native</button>
            <div id="text" class="text"></div>
        </div>
    </div>
</body>

</html>