<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">


    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
            background-color: rgb(248, 248, 248);
        }

        header {
            position: relative;
            width: 100%;
            padding: 30px 0;
            font-size: 2rem;
            color: #00171F;
            text-align: center;
        }

        .container .file form label input {
            display: none;
        }

        .container .file form label div,
        .container .file input[type="text"],
        .container .options input,
        .container .file #receptor,
        .container .file #ligand {
            width: fit-content;
            padding: 5px;
            margin: 5px;
            font-size: 16px;
            color: #00171F;
            background-color: #F8F9FA;
            border: #00171F solid 3px;
            border-radius: 5px;

        }

        .container .file #receptor,
        .container .file #ligand {
            border: #F8F9FA solid 3px;
            border-bottom: #00171F solid 3px;
        }

        .container .file form label div:hover,
        .container .file input[type="submit"]:hover {
            cursor: pointer;
        }

        .container .options input[type="button"]:hover {
            cursor: pointer;
            color: #F8F9FA;
            background-color: #01406d;
        }

        .container .file input[type="submit"],
        .container .loader,
        .container .tooltip {
            width: fit-content;
            padding: 5px;
            font-size: 16px;
            font-weight: bold;
            color: #F8F9FA;
            background-color: #01406d;
            border-radius: 5px;
        }

        .container .loader,
        .container .tooltip {
            width: 60px;
            height: 15px;
        }

        .container .dnd {
            position: relative;
            width: 500px;
            height: 500px;
            background-color: #fff;
            text-align: center;
            line-height: 500px;
            font-size: 30px;
            color: #01406d;
            font-weight: bold;
            border: dashed #01406d 3px;
            opacity: .7;
        }

        .container .dnd:hover {
            cursor: pointer;
            opacity: 1;
        }

        .loader,
        .tooltip,
        #receptor,
        #ligand,
        .container .file input,
        .container .file p,
        .container .file form div {
            display: inline-block;
        }

        .container .file {
            margin: 10px;
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;
        }
    </style>
    <script type="text/javascript" src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            dmol = $3Dmol;
            let config = {
                backgroundColor: 'white'
            };
            let element = $('#viewer3');
            glviewer = $3Dmol.createViewer(element, config);
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='brython.js')}}"></script>
    <script type="text/python">
        #from dnd_upload import *
        import json,sys
        sys.path.append("core/")
        from browser import window, document,ajax,html
        from core.Plot import Plot
        from core.HtmlViewport import *
        from core.svg_elements import *
        from core.styles import *
        import os
        reader = None
        name=""
        already_in_list=[]
        angle_data=[]
        print("jeje")
        glviewer=window.glviewer
        dmol=window.dmol

        ################# VIEWER FUNCTIONS #########################

        def succ_get_data(evt):
          global glviewer

          m = glviewer.addModel( evt.text, "pdb" )
          print(m.selectedAtoms())

          atoms = m.selectedAtoms();
          for a in atoms:
                    a.clickable = True
                    a.callback = atomcallback

          glviewer.setStyle({}, {'stick': {'color':'spectrum'}})
          glviewer.render()
          glviewer.zoomTo()
          glviewer.zoom(1.2, 1000)

        def get_protein(evt):
            options = document['select_pdb']
            for i in options:
                if i.selected==True:
                    name = i.value
            print(name)
            #name="2gb1"
            glviewer.clear();
            req = ajax.ajax()
            content = "application/x-www-form-urlencoded;charset=UTF-8"

            req.open('POST', "{{ url_for('get_file') }}", True)
            req.set_header('content-type', content)
            req.bind('complete', succ_get_data)
            req.send({'name' :name})


        def add_ligand(evt):
          v = glviewer
          m = v.addModel(document['text'].innerHTML, "sdf" )
          m.setStyle({}, {'stick':{}})
          v.zoomTo()
          v.render()


        def add_label(evt):
            atoms = glviewer.getModel().selectedAtoms({'resi' : document["labels"].value,'atom': "CA"})
            for atom in atoms:
                #atom = atoms[a];

                l = glviewer.addLabel(str(atom.resn) + " " + str(atom.resi), {'inFront' : True, 'fontSize' : 12,'position' : { 'x' : atom.x, 'y' : atom.y,'z' : atom.z }})
                atom.label = l

        def on_download(evt):
          glviewer.setBackgroundColor(0xffffffff);
          glviewer.setStyle({}, {'cartoon':{'color':"spectrum"}});
          glviewer.animate({'loop':"backward"});
          glviewer.render();

        def animate(evt):
              dmol.download("pdb:1MO8",glviewer,{'multimodel':True, 'frames':True},on_download)

        def set_SS_color(atom):
            if(atom.ss == 'h'): return "magenta"
            if(atom.ss == 's'): return "orange"
            return "white"

        def color_SS(evt):
            m = glviewer.getModel();
            m.setColorByFunction({}, set_SS_color)
            glviewer.render();

        def zoom_ligand(evt):
            ligands = document['select_ligand']
            for i in ligands:
                if i.selected==True:
                    lig = i.value.split(' ')
            #lig = $('#select_ligand option:selected').val().split(' ');
            glviewer.zoomTo({'resn':lig[0],'chain':lig[1]},1000);

        def after_download(m):
            m.setStyle({'cartoon':{'colorscheme':{'prop':'ss','map':dmol.ssColors.Jmol}}});
            for i in glviewer.pdbData():
              print(i)
            #print(glviewer.pdbData())
            glviewer.zoomTo();
            glviewer.render();

        def download(evt):
            glviewer.clear();
            glviewer.setBackgroundColor(0xffffffff);
            dmol.download('pdb:'+document['pdbid'].value,glviewer,{'onemol': True,'multimodel': True},after_download)

        def atomcallback(atom,viewer,b, a):
            print(type(a),type(atom),type(viewer),type(b))
            print(atom.to_dict())
            print(viewer.to_dict())
            #print(b.to_dict())
            #print(a.to_dict())
            #if True:
            if 'clickLabel' not in atom.to_dict() or atom.clickLabel==None:
                atom.clickLabel = viewer.addLabel(str(atom.elem) + str(atom.serial),
                                                  {'fontSize' : 14,
                                                   'position' : {'x':atom.x, 'y':atom.y, 'z':atom.z}});
                atom.clicked = True;
            else:

                viewer.removeLabel(atom.clickLabel);
                atom.clickLabel = None;
                atom.clicked = False;
                #delete atom.clickLabel;


        def show_prot(evt):
          global glviewer

          m = glviewer.addModel( document["text"].innerHTML, "pdb" )
          print(m.selectedAtoms())

          atoms = m.selectedAtoms();
          for a in atoms:
                    a.clickable = True
                    a.callback = atomcallback

          glviewer.setStyle({}, {'stick': {'color':'spectrum'}})
          glviewer.render()
          glviewer.zoomTo()
          glviewer.zoom(1.2, 1000)

        ################# SERVER CONNECTION FUNCTIONS #########################

        def handle_file_dragged_over(evt):
            evt.stopPropagation()
            evt.preventDefault()
            evt.dataTransfer.dropEffect = 'copy'

        def on_complete(evt) :
            global angle_data
            #print("AJAX COMPLETED, returned:",evt.text)
            angle_data = json.loads(evt.text)
            #document["text"].innerHTML=evt.text
            print(name)
            plot_phi_psi()

        def print_files(req):
            global already_in_list
            data=json.loads(req.text)
            document["select_pdb"].style.display = "block"
            for i in data:
                pdb_code = i.split(".")[0]
                if pdb_code not in already_in_list:
                  already_in_list.append(pdb_code)
                  option=html.OPTION(value=pdb_code,selected="false")
                  option.style.width=30
                  option.style.height=5
                  option.text=pdb_code
                  document["select_pdb"]<=option

        def print_ligands(req):
            document["select_ligand"].style.display = "block"
            data=json.loads(req.text)
            for i in data[:1]:
              lig= i[0]+" "+i[1]+" "+str(i[2])
              print(lig)
              option=html.OPTION(value=lig,selected="true",onclick="zoom_ligand();")
              option.style.width=30
              option.style.height=5
              option.text=lig
              document["select_ligand"]<=option
            for i in data[1:]:
              #print(i.strip().strip('"').split(".")[0])
              lig= i[0]+" "+i[1]+" "+str(i[2])
              print(lig)
              option=html.OPTION(value=lig,selected="false",onclick="zoom_ligand();")
              option.style.width=30
              option.style.height=5
              option.text=lig
              document["select_ligand"]<=option


        def list_files(evt):
            #files="{{url_for('list_files')}}"
            req = ajax.ajax()
            req.bind('complete', print_files)
            req.open('GET',"{{ url_for('list_files') }}",True)
            req.send()

        def list_ligands(evt):
            document["select_ligand"].clear()
            selected_pdb=document.get(selector='option')
            for p in selected_pdb:
                if p.selected :
                    pdb_code=p.value
                    break
            print("CODE",pdb_code)
            req = ajax.ajax()
            content = "application/x-www-form-urlencoded;charset=UTF-8"
            req.open('POST',"{{ url_for('list_ligands') }}",True)
            req.set_header('content-type', content)
            req.bind('complete', print_ligands)
            req.send({'name':pdb_code})


        def send_ajax(data) :
            global name
            req = ajax.ajax()
            req.open('POST', "{{ url_for('process_pdb') }}", True)
            content = "application/x-www-form-urlencoded;charset=UTF-8"
            #content = "application/json;charset=UTF-8"
            req.set_header('content-type', content)
            req.bind('complete', on_complete)
            req.send({'pdb' : data,'filename':name})

        def load_file(evt) :

            text = reader.result
            print(text[0:200])
            send_ajax(text)
            document["text"].innerHTML=text
            event = window.MouseEvent.new("click")
            document["load_3d"].dispatchEvent(event)
            #return text

        def load_ligand(evt) :

            text = reader.result
            print(text[0:200])
            #send_ajax(text)
            document["text"].innerHTML=text
            event = window.MouseEvent.new("click")
            document["add_ligand"].dispatchEvent(event)
            #return text


        def handle_file_dropped(evt):
            global name
            evt.stopPropagation()
            evt.preventDefault()

            files = evt.dataTransfer.files  # FileList object.
            global reader
            reader = window.FileReader.new()
            name=files[0].name
            reader.onload = load_file
            reader.readAsText(files[0])

        def handle_ligand(evt):
            global name
            evt.stopPropagation()
            evt.preventDefault()

            files = evt.dataTransfer.files  # FileList object.
            global reader
            reader = window.FileReader.new()
            name=files[0].name
            reader.onload = load_ligand
            reader.readAsText(files[0])


        def zoom_residue(evt):
            document["zoom"].value=document["tooltip"].text.split(" ")[2]
            event = window.MouseEvent.new("click")
            document["zoom_button"].dispatchEvent(event)
            document["zoom"].value=""

        def point_tooltip(ev) :
            document["tooltip"].style.display="inline"
            c=ev.target
            pdb_code,id = ev.target.id.split(":")
            i = int(id)
            document["tooltip"].text = angle_data[pdb_code][i][2]+" "+angle_data[pdb_code][i][1]+" "+str(angle_data[pdb_code][i][0])
            document["tooltip"].left=c["cx"]
            document["tooltip"].top=c["cy"]

        def plot_phi_psi(evt=None):
            document["dnd"].style.heigth="500px"
            document["dnd"].style.weidth="500px"
            document["loader"].style.display="block"
            #document["ligand"].style.display="none"
            #document["receptor"].style.display="none"
            global angle_data
            drawing.clear()
            draw_axes()

            phi = []
            psi = []
            print(name)
            for row in angle_data[name.split(".")[0]]: # Every row of a 2D array looks like that: [1,"MET","A","C",-999.00,  120.07,  179.70]

                #print(row)
                phi.append( row[3] )
                psi.append( row[4] )
            pl.scatter(phi, psi, markersize=2, colors = "DeepPink", stroke="White", title=name.split(".")[0])
            drawing.finalize()
            elements = document[name.split(".")[0]].select('circle')
            for i in range(len(elements)) :
                elements[i].id = str(name.split(".")[0])+":"+str(i)
                elements[i].bind("mouseover",point_tooltip)
                elements[i].bind("click",zoom_residue)
            document["loader"].style.display="none"


        def draw_axes() :
            global name

            pl.draw_axes()
            pl.draw_grid()
            pl.plot_label = name.split(".")[0]
            pl.draw_plot_label()

        drawing = HtmlViewport(document["dnd"], 0, 0, 500, 500)
        pl = Plot(drawing,70,450,70,450,-180,180,-180,180, axes_definition="UBLR")
        pl.axes["B"].label="phi"
        pl.axes["L"].label="psi"

        for loc,ax in pl.axes.items() :
          ax.width, ax.stroke = 2, color_by_name("SteelBlue").create_darker(0.3)
        draw_axes()
        #drawing.finalize()

        ######################### Setup the listeners ############################
        drop_zone = document['dnd']
        drop_zone.bind('dragover', handle_file_dragged_over)
        drop_zone.bind('drop', handle_file_dropped)
        drop_lig = document['ligand']
        drop_rec = document['receptor']
        drop_lig.bind('dragover', handle_file_dragged_over)
        drop_lig.bind('drop', handle_ligand)
        drop_rec.bind('dragover', handle_file_dragged_over)
        drop_rec.bind('drop', handle_file_dropped)
        document["list_files"].bind('click',list_files)
        document["select_pdb"].bind('change',list_ligands)
        document["select_pdb"].bind('change',plot_phi_psi)
        document["select_pdb"].bind('change',get_protein)
        document["select_ligand"].bind('change',zoom_ligand)
        #document["s2"].bind('click',get_protein)
        document["download"].bind('click',download)
        document["add_ligand"].bind('click',add_ligand)
        #document["add_receptor"].bind('click',show_prot)
        document["animate"].bind('click',animate)
        document["add_label"].bind('click',add_label)
        document["colorSS"].bind('click',color_SS)
        document["load_3d"].bind('click',show_prot)


        print("jejeje")

    </script>
</head>

<body onload="brython(1)">
    <header>
        <h1>Make your own Ramachandran plot</h1>
    </header>
    <div class="container">
        <div class="file">

            <form method="post" enctype="multipart/form-data"> <label>
                    <div>Choose your file</div><input class="text" type="file" name="file">
                </label> <input class="button" type="submit" value="Upload">

            </form>
            <br>
                <form method=post enctype=multipart/form-data>
            <p>or input PDB ID:</p> <input id="pdbid" type="text" name="pdbid"> <input class="button" type="submit" value="Upload"></form>
            <br>
            <div id="loader" class="loader"></div>
            <div id="tooltip" class="tooltip"></div>
            <div id="receptor">receptor</div>
            <div id="ligand">ligand</div>

            <div class="dnd">
                or drop your file here

            </div>

        </div>

        <div class="options">
            <div id="api" style="height:200px; width:400px; display:block;">

                <input type="button" value="Stick"
                    onclick="glviewer.setStyle({},{stick:{}}); glviewer.render();"></input>
                <input type="button" value="Line" onclick="glviewer.setStyle({},{line:{}}); glviewer.render();"></input>
                <input type="button" value="Cross"
                    onclick="glviewer.setStyle({},{cross:{linewidth:2}}); glviewer.render();"></input>
                <input type="button" value="Sphere"
                    onclick="glviewer.setStyle({},{sphere:{}}); glviewer.render();"></input>
                <input type="button" value="Cartoon"
                    onclick="glviewer.setStyle({hetflag:false},{cartoon: {}}); glviewer.render();"></input>
                <input type="button" value="Spectrum"
                    onclick="glviewer.setStyle({hetflag:false},{cartoon: {color:'spectrum'}}); glviewer.render();"></input>
                <input type="button" value="Label residue" id="add_label"></input>
                <input id="labels" type="text" value="">
                <input type="button" value="RM Labels" onclick="glviewer.removeAllLabels()"></input>
                <input type="button" value="Color SS" id="colorSS"></input><br>
                <input type="button" value="^" style="width:50px"
                    onclick="glviewer.translate(0,10); glviewer.render();"></input>
                <input type="button" value="Surface1"
                    onclick="surf1 = glviewer.addSurface($3Dmol.SurfaceType.VDW, {}, {hetflag:false,chain:'A'},{hetflag:false,chain:'A'});"></input>
                <input id="s2" type="button" value="Surface2"></input>
                <input type="button" value="RM Surfaces" onclick="glviewer.removeAllSurfaces();"></input><br>
                <input type="button" value="<" onclick="glviewer.translate(-10,0); glviewer.render();"></input>
                <input type="button" value=">" onclick="glviewer.translate(10,0); glviewer.render();"></input>
                <input type="button" value="Recenter" onclick="glviewer.zoomTo();"></input>
                <input id="zoom_button" type="button" value="Zoom to"
                    onclick="glviewer.zoomTo({resi:$('#tooltip').text().split(' ')[2],atom:'CA'},1000);"></input><input
                    id="zoom" type="text" value="">
                <br>
                <input type="button" value="v" style="width:50px"
                    onclick="glviewer.translate(0,-10); glviewer.render();"></input>
                <input type="button" value="Clear" onclick="glviewer.clear();"></input>
                <input type="button" value="Animate" id="animate"></input>
                <input id="list_files" type="button" value="List files"></input><br>

                <br>
                <br>
            </div>
        </div>




    </div>

</body>

</html>